h1 {
    color: #33485e;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    letter-spacing: 8px;
}

img {
    max-width: 500px;
    width: 100%;
}

div {
    width: 750px;
    margin: auto;
}

div.masthead {
    text-align: center;
}

div.catchphrase {
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-color: #455f7a;
}

span#cat {
    color: #455f7a;
}

div.socialmedia {
    text-align: center;
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

img#portrait {
    width: 275px;
    height: 175px;
    float: right;
    margin: 5px;
}

p#wapo {
    height: 150px;
    line-height: 25px;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}

p#thinking {
    height: 100px;
    line-height: 25px;
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}

h2#titleex, #titleed, #titlesk {
    height: 40px;
    font-size: 30px;
    background-color: #33485e;
    color: white;
}

ul#edlist, #skilllist {
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
}
ul#skilllist {
    line-height: 25px;
}

span#unc {
    font-style: italic;
}

span#reporter {
    background-color: #33485e;
    color: white;
}

h3#job1, #job2, #job3 {
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
}

h4#company1, #company2, #company3 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h5#date1, #date2, #date3 {
    font-size: 17px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p#description1, #description2, #description3 {
    font-size: 15px;
    font-family: 'Libre Baskerville', serif;
}

div.wapo, .npr, .newyorktimes {
    line-height: 7px;
}

div#wapodes, #nprdes, #nytdes {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
