/* font-family: "Raleway", sans-serif; */
div {
    width: 750px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
}

div.masthead {
    text-align: center;
    width: 500px;
    margin: auto;
}

img#logo {
    width: 450px;
}

img#eventspace {
    width: 375px;
    float: right;
}

div.footnotes {
    width: 375px;
    text-align:
}

h3.heads {
    color: #b0281e;
    border-bottom-style: dotted;
    border-bottom-color: grey;
    width: 300px;
    font-size: 20px;
    text-transform: uppercase
}

h5.food {
    style: bold;
    font-size: 17px;
}

div.box {
    border-style: dotted;
    background-color: #e4ebed;
    border-color: grey;
    height: 150px;
    padding: 5px;
}

p#kitchen {
    color: #grey;
    word-spacing: 7px;
}

h2#eventhouse {
    color: #bdc5c7;
}

div.event {
    border-bottom-style: dotted;
    border-top-style: dotted;
    border-color: grey;
    width: 450px;
}

p#history {
    color: #bdc5c7;
}

h6#pizzatoppings {
    color: #b0281e;
    font-size: 20px;
    text-transform: uppercase;
}

p#extra {
    font-size: 10px
    color: grey;
}
